<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ site.url }}/assets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/syntax.css">
    <title>Allie Rowan</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href = "/" class="navbar-brand">Allie Rowan <small>ruby developer</small></a>
        </div>
         <ul class="nav navbar-nav navbar-right">
           <li>
             <a>301.332.5350</a>
           </li>
           <li>
             <a href="https://github.com/arowan11"><img src="{{ site.url }}/assets/github.png" alt="github logo" height=17 width=17/></a>
           </li>
           <li>
             <a href="https://www.linkedin.com/in/aileenrowan"><img src="{{ site.url }}/assets/linkedin.png" alt="linked in logo" height=17 width=17 /></a>
           </li>
           <li>
             <a href="mailto:aileen.s.rowan@gmail.com"><img src="{{ site.url }}/assets/email.png" alt="email logo" height=17 width=17/></a>
           </li>
         </ul>
        </div>
     </nav>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
